*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background-color: black; */
}
.wrapper{
    display: flex;
    /* width: 250px; */
    /* height: 200px; */
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
.container{
    display: block;
}
form{
    /* background-color: ivory; */
    width: 50rem;
    height: 500px;
    padding: 20px;
}
form h1{
    text-align: center;
}
.about{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}
.about input, select{
    padding: 10px;
}
.purchase{
    display: flex;
    justify-content: space-between;
}
.purchase input{
    width: 200px;
}
.purchase button{
    width: 60px;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: space-between;
}
.total button{
    width: 120px;
    background-color: rgb(28, 231, 28);
    /* border-radius: 10px; */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}
#save_order{
    background-color: rgb(161, 161, 211);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}